.em{color:#f30;font-weight:700;}
input[type=text],input[type=button]{padding:0.3em;}
#hd{overflow:visible;}

body{font-size:14px;}
.content{padding:10px;}
.hide{display:none;}
.top-user{margin-top:3px;}
.user-list{position:absolute;background:#D8D8D8;padding:10px;top:0;right:0;}
.user-list ul{margin:10px 0;}
.user-list li{margin-bottom:10px;}
.user-list .info{margin:5px 0;}

.log{margin:10px 0 10px 10px; line-height:1.5em;border-top:1px solid #d8d8d8;}
.log-title{font-weight:700;}
.log-context{max-height:500px;overflow:auto;}
.log-item{color:#3300CC;margin-left:5px;border-bottom:1px solid #EFEFEF;font-size: 12px;}

.nav{border:1px solid #d8d8d8;margin:10px 0 30px 10px;border-radius:3px;}
.nav dt{font-weight:700;padding:.8em;font-size:14px;border-bottom:1px solid #d8d8d8;}
.nav a{display:block;color:#0099CC;padding:.8em 1em;text-decoration: none;}
.nav .on a{background:#0099CC;color:#fff;}

.d-i-b{display:inline-block;vertical-align: top;}
.p-l-10{padding-left:10px;}
.m-t-10{margin-top:10px;}
.m-l-10{margin-left:10px;}

.user-list{width:400px;}
.user-list ul{max-height:700px;overflow:auto}