.mx-dialog{position:fixed;}/**position:absolute;*/
.mx-dialog-title{background:#D7D7D7;height:32px;overflow:hidden;cursor:default;border:1px solid #999;border-radius:3px 3px 0 0;width:100%;}
    .mx-dialog-buttons{position:absolute;right:5px;top:8px;}
    .mx-dialog-tool{position:absolute;left:5px;top:5px;}
    .mx-dialog-maximize,.mx-dialog-close,.mx-dialog-restore,.mx-dialog-home{display:inline-block;height:19px;width:21px;;background:url(../images/mx_dialog_sprite.png) no-repeat 0 0;}
    .mx-dialog-maximize{background-position:-34px -59px;}
    .mx-dialog-maximize:hover{background-position:-34px -30px;}
    .mx-dialog-close{background-position:-64px -59px;}
    .mx-dialog-close:hover{background-position: -64px -30px}
    .mx-dialog-restore{background-position: -94px -59px;}
    .mx-dialog-restore:hover{background-position: -94px -30px}
    .mx-dialog-home{background:url(../images/mx_dialog_home.png) no-repeat -15px -60px;}
    .mx-dialog-home:hover{background-position:-15px -32px;}
    
.mx-dialog-h1{font-size:14px;cursor:default;margin:0;padding-left:30px;padding-top:10px;height:23px;font-weight:700;}

.mx-dialog-content{border:1px solid #999;border-top:none;background:#fff;}
.mx-dialog-iframe{}
.mx-dialog-overflow-hide{overflow:hidden;}

.mx-dialog-t,.mx-dialog-b,.mx-dialog-r,.mx-dialog-l,.mx-dialog-tr,.mx-dialog-tl,.mx-dialog-br,.mx-dialog-bl{position:absolute;}
.mx-dialog-tr,.mx-dialog-tl,.mx-dialog-br,.mx-dialog-bl{width:5px;height:5px;}
.mx-dialog-t{height:5px;width:100%;top:-5px;cursor:n-resize;}
.mx-dialog-b{height:5px;width:100%;bottom:-40px;cursor:n-resize;}
.mx-dialog-r{width:5px;height:100%;right:-5px;top:0;cursor:e-resize;padding-top:35px;}
.mx-dialog-l{width:5px;height:100%;left:-5px;top:0;cursor:e-resize;padding-top:35px;}

.mx-dialog-tr{right:-5px;top:-5px;cursor:ne-resize}
.mx-dialog-tl{left:-5px;top:-5px;cursor:nw-resize}
.mx-dialog-br{right:-5px;bottom:-40px;cursor:nw-resize}
.mx-dialog-bl{left:-5px;bottom:-40px;cursor:ne-resize}